.vernav {
margin-top:38px;
padding:0;
width:10%;
background-color:#023047;
position:fixed;
height:100%;
overflow:auto;
list-style-position:outside;
}
li a{
display:block;
color:#000;
padding:8px 16px;
text-decoration:none;
}
li a.active{
background-color:#ffb703;
color:#023047;
}
li a:hover:not(.active){
background-color:#ffb703;
color:#023047;
}


.hornav{
list-style-type:none;
margin:0;
pading:0;
overflow:hidden;
background=color:#023047;
position:fixed;
top:0;
width:100%;
}
li {
float:left;
}
li a{
display:block;
color:#ffb703:
text-align:center;
padding:14px 16px;
text-decoration:none;
}

.li a:hover:not(.active){
background-color:#ffb703;
color:#023047;
}
li a.active {
background-color:#ffb703;
color:#023047;
}
.data{
padding-top:100px;
}
.elem{
margin-left:175px;
padding-top:100px;
float:left;
}
.high{
margin-left:100px;
padding-top:100px;
float:left;
}
.col{
margin-left:100px;
padding-top:100px;
float:left;
}
#family{
margin-top:900px;
margin-left:500px;
wifth:500px;
height:100px;
padding-bottom:50px;
}
